/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* icomoon */
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?mbqmho');
    src:  url('fonts/icomoon.eot?mbqmho#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?mbqmho') format('truetype'),
      url('fonts/icomoon.woff?mbqmho') format('woff'),
      url('fonts/icomoon.svg?mbqmho#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    /*speak: never;*/
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-smile-solid:before {
    content: "\e900";
  }
  .icon-angle-right:before {
    content: "\f105";
  }
  

/* http://www.renoizm.com/
   v1.0 | 20210426
*/

@font-face {
	font-family: 'MPLUS1p-Bold';
    font-display: swap;
    src: local('sans-serif'), url(vendor/google.fonts/MPLUS1p-Bold.ttf);
}

*,
*::before,
*::after {  box-sizing: border-box; }

.container{
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    width:100%;
}
/* PCで見るときの最大幅 */
@media (min-width: 1200px) {
    .container{
        width:1200px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm {
  position: relative;
  width: 100%;
}
/* SP */
@media (min-width: 0px) and (max-width: 767px) {
    .col-sm-1 {max-width: 8.3333333333%;}
    .col-sm-2 {max-width: 16.6666666667%; }
    .col-sm-3 {max-width: 25%; }
    .col-sm-4 {max-width: 33.3333333333%; }
    .col-sm-5 {max-width: 41.6666666667%; }
    .col-sm-6 {max-width: 50%; }
    .col-sm-7 {max-width: 58.3333333333%; }
    .col-sm-8 {max-width: 66.6666666667%; }
    .col-sm-9 {max-width: 75%; }
    .col-sm-10 {max-width: 83.3333333333%; }
    .col-sm-11 {max-width: 91.6666666667%; }
    .col-sm-12 {max-width: 100%; }
}
/* タブレット、PC */
@media (min-width: 768px) {
    .col-1 {max-width: 8.3333333333%;}
    .col-2 {max-width: 16.6666666667%; }
    .col-3 {max-width: 25%; }
    .col-4 {max-width: 33.3333333333%; }
    .col-5 {max-width: 41.6666666667%; }
    .col-6 {max-width: 50%; }
    .col-7 {max-width: 58.3333333333%; }
    .col-8 {max-width: 66.6666666667%; }
    .col-9 {max-width: 75%; }
    .col-10 {max-width: 83.3333333333%; }
    .col-11 {max-width: 91.6666666667%; }
    .col-12 {max-width: 100%; }
}

body{
    font-family: 'MPLUS1p-Bold', sans-serif;
    font-size: 14px;
}

h1{
    font-size: 24px;
    margin:20px auto;
}

h2{
    font-size: 16pt;
    padding: 10px;
    margin: 16px 0;
    border: 1px solid #ddd;
    border-left-width: 4px;
    border-radius: 4px;
    border-left-color: #5bc0de;     
}

.jimbutsu table{
    text-align: left;
    margin:0 15px;
    line-height:14pt;
}

.jimbutsu table tr{
    height:20px;
}

.jimbutsu table .td1{
    width:100px;
}

.jimbutsu table .td3{
    padding-left:10px;
}

.skill h3{
    border-bottom:#222 solid 1px;
    font-size: 16px;
    padding:10px 5px;
    margin:0 10px;
}

.skill ul{
    margin-bottom:30px;
}

.skill li{
    margin:10px 0 10px 20px;
}

.skill i{
    margin-left:10px;
    color:#5bc0de;
}

.footer{
    font-size: 9pt;
    font-family: sans-serif;
    border-top: #222 solid 1px;
    text-align: center;
    padding: 10px 0;
}

/* balance.html */

.balance{
    text-align: center;
    margin:20px 0;
    line-height:14pt;
}
.balance tr{
    height:25px;
}
.balance th{
    border: 1px solid #777;
    padding:5px;
    width: 150px;
}
.balance td{
    border: 1px solid #777;
    padding:5px;
    width: 100px;
}
.balance td.red{
    color:red;
}


